  #show-section {
    background-color: #f9f2e0;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;

  }


/* Bag details for show page */

.bag-details {
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 2rem auto;
  margin-bottom: 15%;
  max-width: 600px;
  padding: 2rem;
  text-align: left;
}
.show-text-details {
  margin-top: 50px;
}
.bag-card-image-container {
  margin-left: 30px;
}

.cta-show {
  margin-left: 90px;
}

  #show-h1 {
    font-size: 30px;
    color: #302e2e;
    text-align: center;
    margin-top: 10px;
  }

  p {
    margin-bottom: 1rem;
    color: #717171;
    font-size: 1rem;
  }

  .btn-primary,
  .btn-secondary,
  .btn-danger,
  .btn-success {
    border: none;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    margin: 1rem;
    padding: 1rem 1.5rem;
    text-align: center;
    text-decoration: none;

    &.btn-primary {
      background-color: #FF5A5F;

      &:hover {
        background-color: #e64950;
      }
    }

    &.btn-secondary {
      background-color: #6c757d;

      &:hover {
        background-color: #5a6268;
      }
    }

    &.btn-danger {
      background-color: #dc3545;

      &:hover {
        background-color: #c82333;
      }
    }

    &.btn-success {
      background-color: #ffb726;

      &:hover {
        background-color: #ffaa00;
      }
    }
  }
