  <div class="wrapper">
        <!-- Contenu principal de la page -->
        <div class="content">
            <!-- Votre contenu ici -->
        </div>

        <!-- Footer -->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="footer-col">
                        <h4>Société</h4>
                        <ul>
                            <li><a href="#">A propos</a></li>
                            <li><a href="#">Qui sommmes nous</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>Besoin d'aide</h4>
                        <ul>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Livraison</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>Offre</h4>
                        <ul>
                            <li><a href="#">Nos sacs</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>Suivez nous</h4>
                        <div class="social-links">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
